<section id="brandsOnBoard">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="brandIamge">
          <img src="https://www.superbreak.com/content/images/global/superbreaklogo.png" alt="Super Break">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="brandIamge">
          <img src="https://theme.zdassets.com/theme_assets/1284070/8d78580afcaeffcacafc5e0f159cc3bbb0ad073d.png" alt="LateRooms">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="brandIamge">
          <img src="https://www.nationalexpress.com/dist/images/global/NX_logo.png?v=5bf7b84ab5089a3821bddadbfed796311abdce47" alt="National Express">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="brandIamge">
          <img src="https://static.tui.co.uk/static-images/_ui/mobile/th/images/logo/TUI-Logo.svg" alt="TUI">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="brandIamge">
          <img src="https://www.virgintrains.co.uk/Images/vt-logo.png" alt="Virgin Trains">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="brandIamge">
          <img src="https://dvq3n1ow6uboc.cloudfront.net/5688602a1b30d5f8c52dc9f1ac4e3a01.svg" alt="Wizian">
        </div>
      </div>
    </div>
  </div>
</section>
