
<section id="platformFeatures" class="text-center my-5">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-area-chart fa-3x red-text"></i>
        <h5 class="font-weight-bold my-4">Analytics</h5>
        <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores aperiam minima assumenda deleniti hic.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-book fa-3x cyan-text"></i>
        <h5 class="font-weight-bold my-4">Tutorials</h5>
        <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores aperiam minima assumenda deleniti hic.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-comments-o fa-3x orange-text"></i>
        <h5 class="font-weight-bold my-4">Support</h5>
        <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores aperiam minima assumenda deleniti hic.
        </p>
      </div>
    </div>
  </div>
</section>
