
<section id="platformNumbers" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <span class="counter">25,000</span>
        <h5 class="font-weight-bold my-4">Hotels & Accommodation</h5>

        </p>
      </div>
      <div class="col-md-4 mb-3">
        <span class="counter">1,500,000</span>
        <h5 class="font-weight-bold my-4">Annual Customers</h5>

        </p>
      </div>
      <div class="col-md-4 mb-3">
        <span class="counter">200,000</span>
        <h5 class="font-weight-bold my-4">Another Fact</h5>
        </p>
      </div>
    </div>
  </div>
</section>
